<title>{{ .Title }} | {{ .Site.Title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="copyright" content="{{ .Site.Copyright }}">

<link rel="icon" type="image/png" sizes="32x32" href="{{ "logo.png" | absURL }}">
<link rel="stylesheet" href="{{ "index.css" | absURL }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap">

<!-- SEO Tags -->
{{ if .Title }}
<meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}">
{{ end }}
{{ if .Params.shortDescription }}
<meta name="description" content="{{ .Params.shortDescription }}">
<meta itemprop="description" content="{{ .Params.shortDescription }}">
<meta property="og:description" content="{{ .Params.shortDescription }}">
<meta name="twitter:description" content="{{ .Params.shortDescription }}">
{{ end }}
{{ if .Params.image }}
<meta name="twitter:image" content="{{ .Params.Image | absURL }}">
<meta property="og:image" content="{{ .Params.Image | absURL }}">
<meta itemprop="image" content="{{ .Params.Image | absURL }}">
{{ end }}
<!-- END: SEO Tags -->

{{ if eq .Site.IsServer true }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}