<title>{{ .Title }} | {{ .Site.Title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="copyright" content="{{ .Site.Copyright }}">

<link rel="icon" type="image/png" sizes="32x32" href="/logo.png">
<link rel="stylesheet" href="/index.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit:400,500|Roboto+Mono|Roboto:400,500,700&display=swap">

{{ if eq .Site.IsServer true }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}