<section class="intro">
  <h1>TinkerHub Learning Path</h1>
  <p>
    TinkerHub Foundation, the non-profit founded in 2014, is an organization
    working in alignment with the sustainable development goals of quality
    education, decent work, and economic growth.
    <br />
    <br />

    Skill poverty has long-lasting repercussions in the Indian job environment
    where skill mismatch and underqualified graduates are the reasons for a
    massive unemployment rate. In a few years, unemployment is feared to become
    the cause of a greater economic disruption, with aftershocks that will have
    social, political, and economic dimensions.
    <br />
    <br />

    TinkerHub Foundation was born out of our understanding of the above. Today,
    the community hosts, co-hosts, and partners with learning initiatives all
    over the country. For the next two years, our goal is to enable
    industry-relevant technology education to over 10,000 students across 300
    colleges.
    <br />
    <br />

    Learning Path is a virtual library with different paths or roadmaps listed,
    which a student can follow at any point in their journey of learning tech.
  </p>
  <a class="button" href="https://join.tinkerhub.org/">Join Us</a>
</section>
