<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body class="index">
{{ partial "header.html" . }}
<section class="wrapper">
    <div class="secondary-wrapper">
    <div class="face">
		<div class="eyes">
			<div class="eye"></div>
			<div class="eye"></div>
		</div>
	</div>
</div>
<p class="text404">Whoops, that page is gone!!</p>
<script>
    document.querySelector("body").addEventListener("mousemove", rotateEye);
    function rotateEye(){
        let eyes = document.querySelectorAll('.eye');

        eyes.forEach(function(eye){
            let x = (eye.getBoundingClientRect().left) + (eye.clientWidth/2);
            let y = (eye.getBoundingClientRect().top) + (eye.clientHeight/2);

            let rad = Math.atan2(event.pageX - x, event.pageY - y);
            let rot = (rad * (180/Math.PI) * -1) + 270;
            eye.style.transform = "rotate("+rot+"deg)";
        });
    }
</script>
</section>
{{ partial "footer.html" . }}
</body>
</html>
