<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body class="index">
        {{ partial "header.html" . }}

        <section class="featured">
            <div class="center">
                <h1>Curated Learning Paths</h1>
                <h2></h2>

                <div class="cards">
                    {{ range .Pages }}
                    {{ if and (eq .Params.featured true) (eq .Params.sub false) }}
                    <a href="{{ .Permalink }}">
                        <div class="image" style="background-image: url({{ .Site.BaseURL }}{{ .Params.Image }})"></div>
                        <div class="body">
                            <span class="name">{{ .Title }}</span>
                            {{ if eq .Params.author true }}
                            <span class="author">by @{{ .Params.author }}</span>
                            {{ end }}
                        </div>
                    </a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </section>

       
        {{ partial "footer.html" . }}
    </body>
</html>
