<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="index">
    {{ partial "header.html" . }}
    <section class="featured">
      <div class="center">
        {{ partial "intro.html" . }}

        <h1>Curated Learning Paths</h1>
        <h2></h2>

        {{range .Site.Taxonomies.category}}

        <div class="section">
          <a href="/category/{{.Page.Title}}/"><h2>{{.Page.Params.CategoryTitle}}</h2></a>
          <div class="cards">
            {{ range where .Pages ".Params.category" .Page.Title }}
            <a href="{{ .Permalink }}">
              <div
                class="image"
                style="background-image: url({{ .Params.Image | absURL }})"
              ></div>
              <div class="body">
                <span class="name">{{ .Title }}</span>
              </div>
            </a>
            {{ end }}
          </div>
        </div>
        {{end}}
    </section>

    {{ partial "footer.html" . }}
  </body>
</html>
