<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="single">
    {{ partial "header.html" . }}

    <main>
        <nav>
          <div class="sticky">
              <h1>Contents</h1>
              {{ .TableOfContents }}
          </div>
        </nav>
        <article>
            {{ if .Params.image }}
                <div class="image" style="background-image: url({{ .Site.BaseURL }}{{ .Params.image }});"></div>
            {{ end }}
            <header>
                <h1>{{ .Title }}</h1>
            </header>
            {{if .Params.authors}}
                <div>
                    <p>Curated By</p>
                    {{range $author := .Params.authors}}
                    {{$url := printf "%s" $author | printf "%s%s" "https://github.com/" | printf "%s"}}
                    {{$imageurl := printf "%s" ".png?size=48" | printf "%s%s" $url}}
                    <a href={{$url}}><img class="avatar" src={{$imageurl}} alt={{ printf "%s" $author | printf "%s%s" "Avatar of " }}></a>
                    {{end}}
                </div>
            {{end}}
            <section class="content">{{ .Content }}</section>
        </article>
        <aside>
            <div class="sticky">
                {{ $related := .Site.RegularPages.Related . | first 3 }}
                {{ with $related }}
                <h1>Related</h1>
                <ul>
                    {{ range . }}
                    <li>
                        <a href="{{ .RelPermalink }}">
                          <span class="name">{{ .Title }}</span>
                        </a>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </aside>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
