.featured {
    padding: 80px 0px;

    h1 {
        color: #939ba9;
        color: #1e375a;
        font-size: 36px;
        line-height: 38px;
        font-family: @font-sans;
        max-width: 600px;
        margin-bottom: 25px;
        user-select: none;
        font-weight: 500;
        font-family: DM Sans, sans-serif;
    }

    h2 {
        color: #6C6C74;
        font-size: 32px;
        line-height: 38px;
        font-family: @font-sans;
        max-width: 600px;
        margin-top: 80px;
        margin-bottom: 32px;
        user-select: none;
    }
}

.featured .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 30px;

    a {
        background: #FFF;
        border-radius: 5px;
        text-decoration: none;
        overflow: hidden;
        box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
        transition: box-shadow 0.2s linear;

        &:hover {
            box-shadow: 0 6px 16px 0 rgba(116, 129, 141, 0.25);
            transition: box-shadow 0.2s linear;
        }
    }

    .image {
        padding-top: 200px;
        background-size: cover;
    }

    .body {
        padding: 30px;
        user-select: none;
    }

    .name {
        color: #1e375a;
        font-size: 18px;
        display: inline;
        line-height: 22px;
        margin-right: 10px;
        user-select: none;
    }
}

.center {
    width: 66%;
    margin: 0px auto;
}


@media screen and
    (max-width: 850px),
    (max-device-width: 850px) {

    .featured {
        padding: 20px;
    }

}

@media screen and
    (max-width: 650px),
    (max-device-width: 650px) {

    .featured {
        padding: 20px;

        h1 {
            line-height: 42px;
        }

        .cards {
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: auto;
            grid-gap: 30px;
        }
    }
    .center
    {
        width: 100%;
    }
}

